div.form-item div#password-helper-wrapper {
  padding: 0.8em 1.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}

div.form-item div#password-helper-wrapper div#password-helper {
  padding: 1em;
  text-align: center;
}